# <<<<<<< HEAD
*.json
*.txt
*.csv
*.xls
*.xlsx
*.pyc
/__pycache__
/csv-to-html-table
# =======
# .DS_Store
# node_modules
# /dist

# # local env files
# .env.local
# .env.*.local

# # Log files
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # Editor directories and files
# .idea
# .vscode
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?
# >>>>>>> 8b7f87448dce5b9f0bb4973625328f6109160905
